.todo{
   padding: 6px;
   background: #e2e2e2;
   color: black;
   border-radius: 8px;
}
.todo p{
   font-size: 17px;
   font-family: arial;
   text-transform: capitalize;
}
.done{
   background: #8a8a8a;
   position: relative;
   filter: grayscale(1);
}
.done::after{
   content: '';
   position: absolute;
   width: 93%;
   height: 2px;
   background-color: black;
   left: 23px;
   top: 50%;
   transform: translateY(-50%);
}